@media (max-width:1350px){
    .wenzi button{
        color: #000;
        background: #f00;
        font-size: 43px;
        padding: 5px 19px;
        margin-left: 34rem;

    }
    .wenzi button:hover {
        color: #fff;
        background: #f00;
        font-size: 43px;
        padding: 5px 19px;
        margin-left: 34rem;
        transition: width 0.6s,background 0.6s,0.6s linear 0.6s;
    }
}